@import 'tailwindcss';

@theme {
  --color-border: #0a7d37;
  --color-textbg: #cce2c5;
  --color-accent: #f37407;
  --color-other: #025885;
  --color-bg: #ffffff;
  --color-text: #262626;
  --color-accentbg: #ffd1a9;
  --color-badgearea: #dbc5e2;
  --color-badgecate: #c5dae2;
  --color-badgesto: #e2cdc5;
}

body {
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--color-text);
}

.textaccent {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2 {
  font-size: 2rem;
  margin: 48px auto;
}

input {
  border: solid 0.5px var(--color-text);
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  border-radius: 4px;
  height: 44px;
  padding: 12px;
}
