CORS_ALLOWED_ORIGIN=http://localhost:5173

AWS_REGION=ap-northeast-1

COGNITO_ISSUER_URI=https://cognito-idp.ap-northeast-1.amazonaws.com/ap-northeast-1_xxxxxxxxx
COGNITO_CLIENT_ID=

CLOUDFRONT_DOMAIN_NAME=example.com
CLOUDFRONT_COOKIE_DOMAIN=example.com
CLOUDFRONT_PUBLIC_KEY_ID=
# CloudFront署名用秘密鍵（どちらか一方のみ設定）
# 本番環境：ECS Secretsなどから秘密鍵を設定
CLOUDFRONT_PRIVATE_KEY=
# 開発環境：# hanrolink-backend/.secrets/cloudfront-private-key.pemへ秘密鍵を配置
CLOUDFRONT_PRIVATE_KEY_PATH=/run/secrets/cloudfront-private-key.pem

S3_BUCKET_NAME=your-unique-hanrolink-bucket-name